<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
		<title>Earthporn</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="googlemaps"></div>
		<div id="info">
			<div class="line">Last updated <span id="timestamp"></span></div>
			<div class="line">
				<a target="_blank" href="https://github.com/andrewyang96/EarthPron">Contribute to the Github repository!</a>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
		<script src="moment.js"></script>
		<script src="script.js"></script>
	</body>
</html>
